<nav class="masthead navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/home"><i class="fa fa-bullseye"></i>BULLSEYE</a>
    </div>
    <div class="controls">
        <select class="form-control" ng-model="searchData.filters.searchType" ng-options="t.name for t in searchData.filters.searchTypes"></select>
        <input type="text" class="form-control" ng-model="searchData.filters.query"/>
        <a role="button" type="button" class="btn btn-primary" ng-class="{enabled: searchData.isSearching}" ng-click="doSearch()">
            <i class="fa fa-spinner fa-spin" ng-class="{'zero-width': !searchData.isSearching}"></i> <!-- class reacts faster than ng-show and ng-if -->
            Search
        </a>
        <deduplicate ng-controller="DedupeController"></deduplicate>
    </div>
</nav>
