bullseye: {
  service: {
    store: {
      clazz: "org.oseraf.bullseye.service.DataService.BlueprintsBullseyeEntityStore"
      args: {
        factoryArgs: [
          "blueprints.graph=com.tinkerpop.blueprints.impls.orient.OrientGraph"
          "blueprints.orientdb.url=remote:localhost/WIPO"
          "blueprints.orientdb.username=admin"
          "blueprints.orientdb.password=admin"
        ]
      }
    }
    duke: {
      confPath: "webapp/target/classes/example/dukeConf.xml"
      reindex: true
    }
  }
  app: {
    contextPath: "/bullseye"
  }
}
