<div ng-controller="HomeController">
    <div>
        <div ng-include="'masthead/masthead.tpl.html'"></div>
    </div>
    <div>
        <network-view data="data.network" selection="data.selection"></network-view>
        <div ng-if="data.raw.length === 0" class="no-data alert alert-info">Please select a starting node. <i class="fa fa-chevron-up"></i></div>
    </div>
    <div class="list-content" ng-show="data.raw.length > 0">
        <div class="list-header">
            <h3>Results</h3>
            <select class="form-control" ng-model="searchData.filters.searchType" ng-options="t.name for t in searchData.filters.searchTypes"></select>
            <input type="text" class="form-control" ng-model="searchData.filters.query"/>
            <div class="num-results"><span class="badge">{{data.raw.length}}</span></div>
        </div>
        <list-view data="data.raw" selection="data.selection" resolveitem="resolveItem" splititem="splitItem" showneighborhood="showNeighborhood" remove="removeItem"></list-view>
        <detail-view mergeitems="mergeItems" ng-show="data.raw" data="data.selection" ></detail-view>
    </div>
</div>
